.uploadBtn {
  border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(105, 190, 201, 1);
  border: none;
  color: white;
  &:hover {
    background-color: rgb(53, 162, 177);
  }
  :global {
    .anticon {
      color: white;
      //   background-color: rgba(105, 190, 201, 0.69);
    }
  }
}
