.bookCard {
  .bookCover {
    width: 160px;
    height: 160px;
    // object-fit: contain;
    margin: auto;
  }
  .bookTitle {
    color: #53a4af;
    font-size: 20px;
    margin: 5px 0 0 0;
    text-align: center;
    display: inline-block;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    &:hover {
      cursor: pointer;
    }
  }
  .bookAuthor {
    text-align: center;
    &:hover {
      cursor: pointer;
      color: rgb(253, 55, 55);
    }
  }
  .bookPrice {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: rgb(197, 41, 41);
  }
  .bookRate {
    width: 132px;
    margin: auto;
  }
}
