.bookCard {
  .bookCover {
    width: 120px;
    margin: auto;
  }
  .bookTitle {
    color: #53a4af;
    font-size: 16px;
    margin: 5px 0 0 0;
    text-align: center;
    word-wrap: normal;
    font-weight: 500;
  }
  .bookAuthor {
    text-align: center;
  }
  .bookPrice {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: rgb(65, 63, 63);
  }
}
