.sider {
  background-color: #82c6d0;
  padding: 0 10px;
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  min-width: 205px !important;
  max-width: 280px !important;
  width: 280px !important;
  box-sizing: border-box;
  // width: 250px !important;
  // position: fixed;
  // top: 0;
  .active {
    background-color: white;
    color: #2eadc0;

    .ant-menu-title-content {
      color: #2eadc0;
      font-weight: 500;
      font-size: 18px;
    }
  }
  .siderDecor {
    background-color: #2eadc0;
    width: 150px;
    height: 100px;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    border-radius: 0 35% 60% 20%;
  }
  :global {
    .ant-menu-vertical {
      border: none;
    }
    .anticon {
      font-size: large;
      color: #ffff;
    }
    .ant-menu {
      background-color: #82c6d0;
      // margin-top: 30px;
    }
    .ant-menu-inline {
      border: none;
    }
    .ant-layout-sider-trigger {
      background-color: #82c6d0;
      left: -20px;
      .anticon-left,
      .anticon-right {
        margin-left: 40px;
      }
    }
    .ant-menu-item {
      &::after {
        border: none;
      }
      border-radius: 15px;
      border: none;
      .ant-menu-title-content {
        color: #ffff;
        font-weight: 500;
        font-size: 18px;
      }
    }
    .ant-menu-sub {
      .ant-menu-title-content {
        color: #ffff;
        font-weight: 500;
        font-size: 14px;
      }
    }
    .ant-menu-submenu-title {
      border-radius: 15px;
      .ant-menu-title-content {
        color: #ffff;
        font-weight: 500;

        // font-size: 14px;
      }
      &:hover {
        .ant-menu-submenu-arrow {
          color: #2eadc0;
        }
      }
      .ant-menu-submenu-arrow {
        color: #ffff;
      }
    }

    .ant-menu-item-selected {
      background-color: white !important;
      border-radius: 15px;
      .anticon {
        color: #2eadc0;
        // font-size: large;
      }

      .ant-menu-title-content {
        color: #2eadc0;
        font-weight: 650;
      }
    }
    .ant-menu-submenu {
      color: #ffff;
      font-size: 18px;
      font-weight: 500;
    }

    .anticon-home {
      color: #ffff;
    }

    // .ant-menu-submenu-selected {
    //   background-color: #e6f7ff;
    // }
  }

  .logo {
    // padding: 10px;
    // background-color: #82c6d0;
    min-height: 64px;
    text-align: center;
    padding: 30px 20px;
    z-index: 1;
    position: relative;
    font-size: 28px;
    font-weight: 700;
    color: white;
  }
}
